body
{
    background-image:url('final_image.jpg');
    background-size:800px 800px;
    background-color:#cccccc;
    background-repeat: no-repeat;
}

#myCanvas   {
    width:800px;
    height:  800px;
}